body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity:1;
}
.cancelbtn, .signupbtn {
    width: 100%;
    margin:auto;
}
.signup-image-link {
    font-size: 16px;
    line-height: 200%;
    color: #222;
    display: block;
    text-align: right;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    margin:auto;
    border-radius: 50%;
}
.container {
    padding: 16px;
    margin : auto;
    width : 25%;
}
.login-status{
    text-align: center;
    font-family: "Calibri"; 
    font-size: 35px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
}
.password-match{
    text-align: right;
    font-family: "Calibri"; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
}
.c-r{
    color:red;
}
.c-g{
    color:green;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
    width: 100%;
    }
}